{% extends "base.html.j2" %}

{% block title %}Abmeldung erfolgreich{% endblock %}

{% block content %}
    <h1>Abmeldung erfolgreich</h1>
    <p>Sie wurden erfolgreich abgemeldet. <a href="{{ url_for('main.index') }}">Zur Startseite</a></p>
{% endblock %}