{% extends "base.html.j2" %}

{% block title %} Registrieren {% endblock %}

{% block content %}
<div class="container">
    <h2>Registrieren</h2>
    <form method="POST" action="{{ url_for('auth.register') }}">
        <label for="username">Benutzername</label>
        <input type="text" name="username" required>
        
        <label for="password">Passwort</label>
        <input type="password" name="password" required>
        
        <button type="submit">Registrieren</button>
    </form>
    <p>Bereits registriert? <a href="{{ url_for('auth.login') }}">Anmelden</a></p>
</div>
{% endblock %}