{% extends "base.html.j2" %}

{% block title %} Registrierung erfolgreich {% endblock %}

{% block content %}
<div class="container">
    <h1>Registrierung erfolgreich</h1>
    <p>Ihre Registrierung war erfolgreich. Sie können sich jetzt <a href="{{ url_for('auth.login') }}">Anmelden</a>.</p>
</div>
{% endblock %}